name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag my-image-name:latest
        

  test_build:

    needs: build                  # só começa quando o build começar
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run test
        run: docker run --rm my-image-name:latest
