name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag my-image-name:latest
      - name: Save docker image
        run: docker save my-image-name:latest -o image.tar
      - name: Upload docker image
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar
        

  test_build:

    needs: build                  # só começa quando o build começar
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download docker images
        uses: actions/download-artifact@v4
        with:
          name: docker-image
      - name: Load docker image
        run: docker load -i image.tar
      - name: Run test
        run: docker run --rm my-image-name:latest
